@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bg-slide {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-bg-slide {
  animation: bg-slide 20s ease-in-out infinite;
}